<div class="container">
    <form [formGroup]="estudios">
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin">
                <input matInput placeholder="Profesión" formControlName="estudios" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin">
                <input matInput placeholder="Nivel" formControlName="estudios" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin" >
                <mat-label>Fecha De Grado (D/M/A) (Campo Reservado para Registro y control Academico)</mat-label>
                <input matInput [matDatepicker]="pickerDos" formControlName="estudios">
                <mat-datepicker-toggle matSuffix [for]="pickerDos"></mat-datepicker-toggle>
                <mat-datepicker #pickerDos></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin">
                <input matInput placeholder="Entidad" formControlName="estudios" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin">
                <input matInput placeholder="Titulo Obtenido" formControlName="estudios" required>
            </mat-form-field>
        </div>
        <!-- 
            <div>
                <button mat-button matStepperPrevious>Cerrar</button>
                <button mat-button matStepperNext>Guardar</button>
            </div>
        -->
    </form>
    
</div>
