<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto mt-5">
        <div class="card mt-5 card-usco">
          <div class="text-center">
            <img src="../../../assets/universidad-surcolombiana-v.png" class="img-fluid mt-3" alt="universidad surcolombiana">
          </div>
          <div class="card-body text-center">
            <p class="mt-3">ingreso al registro de egresados</p>
            <div class="container-usco">
              <mat-form-field>
                <input matInput placeholder="Usuario" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput [formControl]="password" required placeholder="Clave" [type]="hide ? 'password' : 'text'" >
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <button type="button" class="btn btn-lg btn-block btn-usco" routerLinkActive="active" [routerLink]="['/registroEgresados']">Ingreso</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  