<div class="container">
    <form [formGroup]="dominio">
        <label class="labelUsco">Agregar Programa</label>
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin">
                <input matInput placeholder="Programa" formControlName="dom" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="my-custom-horizontal-margin">
                <input matInput placeholder="Manejo" formControlName="dom" required>
            </mat-form-field>
        </div>
        <div>
            <button (click)="onNoClick()">Cerrar</button>
            <!-- <button mat-button matStepperNext>Guardar</button> -->
        </div>
        
    </form>
</div>
